

.heading-primary{
    font-size: 4rem;
    margin: 0;
}

.heading-secondary{
    font-size: 3.2rem;
}
.heading-tertiary{
    font-size: 4rem;
    font-weight: bolder;
}



.paragraph{
    font-size: $default-font-size;
}